article {
	max-width: 640px;
	margin: 1em auto;
	font-family: "Miriam Libre";
	line-height: 1.4;
	font-size: 64px;
}

article section {
	display: inline;
}

label {
/* 	position: relative; */
}

label:hover select {
	opacity: 1;
}

select {
	position: fixed;
	opacity: 0;
}

.label-text {
	font-weight: bold;
}